= video_tag @video.url, class:'video-js vjs-default-skin vjs-big-play-centered', width: 1170,\ 
  poster: @video.thumbnail_path,\
  'data-setup':'{ "controls": true, "autoplay": false, "preload": "auto" }'
